
<link rel="stylesheet" type="text/css" href="./style-map.component.scss" />

<div class="about">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab ex eos quisquam! Aliquid fuga necessitatibus aspernatur magnam optio amet quisquam libero, enim ipsam ad hic eius sapiente reiciendis ut earum.
Provident et quas ullam sunt culpa voluptatibus consequatur non voluptates nostrum doloremque, dolor similique rerum. Fugit libero aspernatur sunt quod nesciunt harum enim odio ad dolor accusamus, dolorem eligendi adipisci!
Cupiditate eveniet nihil eos nobis minima dolores, quia suscipit voluptatibus ab dolorem architecto pariatur obcaecati fugit quis in. Dolorum optio officia dolorem nesciunt, neque ut provident commodi rem corporis deleniti!
Ea consectetur rerum deleniti dignissimos nostrum voluptatum, velit repellat fuga voluptates distinctio ipsam neque maiores maxime vitae corrupti quae architecto obcaecati consequatur magnam modi praesentium voluptas perspiciatis commodi cumque. Eos.
Amet veritatis voluptatum expedita eaque et voluptate cumque enim harum, corrupti nostrum iusto aut sint incidunt ratione esse. Voluptatum iure qui aliquid explicabo consequatur numquam exercitationem quod deserunt vitae quos.</div>
