<div #mapContainer id="map"></div>

<div class="block1">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="inpt" appearance="fill">
      <mat-label>Широта</mat-label>
      <input matInput id="name" type="text" formControlName="userLAT">
    </mat-form-field>


    <mat-form-field class="inpt" appearance="fill">
      <mat-label>Долгота</mat-label>
      <input matInput id="name" type="text" formControlName="userLNG">
    </mat-form-field>



    <button mat-raised-button color="primary" class="button" type="submit">Ввод</button>

  </form>
</div>

