html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.block{
  width: 20%;
  height: calc(100vh - 64px);
  background-color: black;
  float: left;
  color:white;

}

#map {
  height: calc(100vh - 64px);
  width: 80%;
  float: left;
 }

.block1 {
  width: 20%;
  height: calc(100vh - 64px);
  float: left;
  position: relative;
}

.inpt {
  width: 100%;
}

:host ::ng-deep .mat-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .button_label {
    display: inline-block;
    width: calc(100% - 40px); // иконка и паддинг
  }
}

.buttons{
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  &.bottom {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.button{
  align-items: center;
  flex: 0 0 33%;
  width: 80%;
  margin: 5px;
}

// #reproduce, #del, #process_coords{
//   position: relative;
//   bottom: 20px;
// }

// .button{
//   width: 80%;
//   margin-top: 5px;
// }

.check{
  margin: 15px;
}

.coords{
  margin: 15px;
}
