html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.block{
  width: 20%;
  height: calc(100vh - 64px);
  background-color: black;
  float: left;
  color:white;

}

#map {
  height: calc(100vh - 64px);
  width: 80%;
  float: left;
 }

.block1 {
  width: 20%;
  height: calc(100vh - 64px);
  float: left;
}

.inpt {
  width: 100%;
}

.button{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.check{
  margin: 15px;
}
