
<div class="block1">
  <div class="map"><my-agm-example></my-agm-example></div>
  <div class="block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi exercitationem commodi at voluptatum officia maiores molestias sed, accusamus id qui minima sit quaerat, officiis assumenda et eaque facere pariatur libero.
  Corrupti, repudiandae quia eligendi sit exercitationem eaque labore illo aliquam placeat maxime unde laudantium delectus excepturi dolorum in, cumque, error magni officia tempore voluptatum cum ea et dicta sed? Adipisci?
  Rerum excepturi labore rem mollitia sequi ipsam blanditiis, libero, nesciunt est minima et voluptates eaque qui, molestias totam fugiat architecto exercitationem. Quae, quo. Eius tempore aut ab exercitationem ipsam repellendus.
  Error hic quos corporis voluptatibus ex debitis repellendus quo voluptas doloremque, vero officia minima reprehenderit quod, veritatis voluptate mollitia ipsam amet culpa. Nulla temporibus minima dignissimos ut ipsam quisquam amet?</div>
</div>

