a {
  text-decoration: none;
  padding: 20px 20px;
  color: black;
}
a:hover{
  color: rgb(112, 112, 112);
}
a:active{
  color:rgb(149, 149, 149)
}

mat-toolbar{
  background-color: rgb(202, 202, 202);
}
